.Rproj.user
.Rhistory
.RData
.Ruserdata
tidybulk.Rproj
README_cache/*
vignettes/introduction_cache*
tidybulk.Rproj
Meta
doc
dev/*csv
dev/*rds
dev/*rda
dev/*pdf
dev/dplyr-master/*
tidybulk.Rproj
egsea_report_*
/doc*
/Meta/
/doc/
_targets.R
_targets*
.DS_Store
._.DS_Store
counts_SE.rda
R/rotate_dimensions.R
renv/.gitignore
renv/activate.R
renv/settings.json
.Rprofile
tidybulk.Rcheck/*
..Rcheck/*
